/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
}

html {
    background-color: #ccc;
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
}

/* Selectors to be matched up with rulesets */

.card article img
.card footer
.card header
.card

/* Rulesets to be matched up with selectors */

{
    background-colour: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
    height: 22em;
    margin: 5em auto;
    width: 35em;
}

{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}

{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
}

{
    float: right
    max-height: 100%;
}
