$badge-size: 20px;

$breakpoint-tablet: 415px;
$breakpoint-desktop: 1025px;

$bullet-size: 8px;

$color-primary: #0000a4;
$color-neutral: #444;
$color-white: #fff;
$color-active: #a9ffb4;

$font-family: 'Source Sans Pro', sans-serif;

$header-height: 100px;

$ratings: 5;
