.button {
    background-color: $color-primary;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    min-width: 120px;

    &:hover {
        background-color: black;
    }
}

.button--full {
    width: 100%;
}

.button--outline {
    background-color: transparent;
    border: 2px solid $color-primary;
    box-shadow: none;
    color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

.button--transparent {
    background-color: transparent;
    box-shadow: none;
    color: $color-primary;

    &:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}


