/* General setup */

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1400px;
	min-width: 1000px;
}

/* Layout */

section {
	float: left;
	width: 50%;
}

aside {
	float: left;
	width: 30%;
}

nav {
	float: left;
	width: 20%;
}

footer {
	clear: both;
}

header,
section,
aside,
nav,
footer {
	padding: 20px;
}

/* header and footer */
header,
footer {
	border-bottom: 5px solid #a66;
	border-top: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
